<a href="https://colab.research.google.com/github/arinbasu/2021-06-15-stencila/blob/main/2021_06_15_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
df = pd.DataFrame({"x" : [1,2,3,4],
                   "y" : [4,5,6,7] })
df

   x  y
0  1  4
1  2  5
2  3  6
3  4  7